h1{
	padding:20px;
	color:#ff5c04;
	font-weight:400px;
	
}
h3{
	padding:20px;
	color:ff0504;
	font-weight:600;
}
.mydiv0{
	background-color:red;
	padding:50px;
	border:50px;
}
.mydiv1{
	font-weight:normal;
	text-align:right;
	color:green;
}
img{
	width:250px;
	height:250px;
	
}
mydiv{
	align:center;
	padding:10;
	color:#ff0405;
}